@import url(font.css);

html {
    font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Inter, sans-serif;
    color: #fff;
    background-color: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: normal;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

hr {
    height: 0;
    color: inherit;
}

a {
    text-decoration: none;
    color: #fff;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonFlush {
    border: none;
    background-color: transparent;
    padding: inherit;
    margin: inherit;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    outline: none;
    text-align: inherit;
}

.skeleton {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 36px;
    margin: 5px 0;
    animation: pulse 1.5s cubic-bezier(.4, 0, .6, 1) infinite;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: .5rem;
}

.skeleton-bg {
    background-color: #ffffff1f
}

.skeleton-animation {
    animation: pulse 1.5s cubic-bezier(.4, 0, .6, 1) infinite;
}

::-webkit-scrollbar {
    display: none;
}

@media (min-width: 768px) {
    .skeleton {
        width: 200px;
        height: 48px;
        margin: 15px 0;
    }
}

@keyframes pulse {
    0%,
    to {
        background-color: hsla(0, 0%, 100%, .3);
    }

    50% {
        background-color: hsla(0, 0%, 100%, .15);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
